<%= render 'shared/title', title: "Welcome to Walden's Landing" %>
 <%= image_tag("homepic.JPG" , class: "img-polaroid") %>
<div class='row'>
 <br/>
<p>We are one of the oldest townhouse communities in Columbia located on Jackson Pond.  As a part of the planned community of Columbia, there are guidelines for all residents when it comes to changes in the landscape or design of our homes.  In addition, the Walden’s Landing Community Association (WLCA) has developed guidelines to enable all of us to live together in a spirit of cooperation and harmony.</p>
<p>The Association is to help all residents in answering questions, solving problems, and ensuring the land we hold in common is well-maintained.  The land that we hold in common is the responsibility of the Community.  Land closest to Jackson Pond is the responsibility of the Columbia Association (CA).  And, of course, you are responsible for the property which you own.</p>

</div>