<div class='row'>
  <div class='text-center'> 
	    <h1> Walden's Landing Community</h1>

	    <h3 class="lead">Welcome to our community site. This site is private and only residents of Walden's Landing Community.</h3>
	     <%= image_tag("homepic.JPG" , class: "img-polaroid") %>
	</div>
</div>
<br/>
<div class='row text-center'>
 <%= link_to "Register Today", register_path, class: "btn btn-large btn-success" %>
</div>

