<div class="jumbotron text-center">

    <h1> Walden's Landing Community</h1>
    <%= image_tag("homepic.JPG") %>
    <div class='span 5'>
    <p class="lead">Welcome to our community site. This site is private and only residents of Walden's Landing Community.</p>

    <%= link_to "Register Today", register_path, class: "btn btn-large btn-success" %>
</div>