
<%= render 'shared/title', title: @doc.title %>
<p><%= @doc.body.html_safe %></p>
<iframe src="http://docs.google.com/gview?url=https://drive.google.com/file/d/0B2SM8jo-yZfrVF9COEd5Ni1Dalk/edit?usp=sharing&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>

<p>


	<span class="quiet">posted by </span><%= @doc.user.username %>
	<small>at <%= display_datetime(@doc.created_at) %></small>
</p>


